<a href="https://colab.research.google.com/github/Andhi1710/python/blob/main/Kelompok_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Descriptive
1. Jenis apa saja yang ditawarkan oleh prudensial dan jenis asuransi apa yang paling banyak digunakan
2. Dikisaran umur berapa pengguna asuransi di prudensial
3. Berapa banyak costumer yang sudah memiliki riwayat penyakit 
4. Bagaimana kondisi ekonomi (pekerjaan, penghasilan) dan latar belakang keluarga pengguna asuransi prudential

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#@title Kelompok 1 (Prudential)
nama_kelompok = ("Andhi","Deka","Dimas","Ditha","Dwi")
print(nama_kelompok)

('Andhi', 'Deka', 'Dimas', 'Ditha', 'Dwi')

# Data Import

In [1]:
#memasukkan data 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
path = ("train.csv")
df=pd.read_csv(path)

In [3]:
df.describe(include='all')

                  Id  Product_Info_1  ... Medical_Keyword_48      Response
count   59381.000000    59381.000000  ...       59381.000000  59381.000000
unique           NaN             NaN  ...                NaN           NaN
top              NaN             NaN  ...                NaN           NaN
freq             NaN             NaN  ...                NaN           NaN
mean    39507.211515        1.026355  ...           0.054496      5.636837
std     22815.883089        0.160191  ...           0.226995      2.456833
min         2.000000        1.000000  ...           0.000000      1.000000
25%     19780.000000        1.000000  ...           0.000000      4.000000
50%     39487.000000        1.000000  ...           0.000000      6.000000
75%     59211.000000        1.000000  ...           0.000000      8.000000
max     79146.000000        2.000000  ...           1.000000      8.000000

[11 rows x 128 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59381 entries, 0 to 59380
Columns: 128 entries, Id to Response
dtypes: float64(18), int64(109), object(1)
memory usage: 58.0+ MB

In [6]:
feature_numerik = [col for col in df.columns if df[col].dtype!='object'] 
feature_kategorik = [col for col in df.columns if df[col].dtype=='object']
print('feature numerik antara lain : ', feature_numerik)
print()
print('feature kategorik antara lain : ', feature_kategorik)

feature numerik antara lain :  ['Id', 'Product_Info_1', 'Product_Info_3', 'Product_Info_4', 'Product_Info_5', 'Product_Info_6', 'Product_Info_7', 'Ins_Age', 'Ht', 'Wt', 'BMI', 'Employment_Info_1', 'Employment_Info_2', 'Employment_Info_3', 'Employment_Info_4', 'Employment_Info_5', 'Employment_Info_6', 'InsuredInfo_1', 'InsuredInfo_2', 'InsuredInfo_3', 'InsuredInfo_4', 'InsuredInfo_5', 'InsuredInfo_6', 'InsuredInfo_7', 'Insurance_History_1', 'Insurance_History_2', 'Insurance_History_3', 'Insurance_History_4', 'Insurance_History_5', 'Insurance_History_7', 'Insurance_History_8', 'Insurance_History_9', 'Family_Hist_1', 'Family_Hist_2', 'Family_Hist_3', 'Family_Hist_4', 'Family_Hist_5', 'Medical_History_1', 'Medical_History_2', 'Medical_History_3', 'Medical_History_4', 'Medical_History_5', 'Medical_History_6', 'Medical_History_7', 'Medical_History_8', 'Medical_History_9', 'Medical_History_10', 'Medical_History_11', 'Medical_History_12', 'Medical_History_13', 'Medical_History_14', 'Medical_History_15', 'Medical_History_16', 'Medical_History_17', 'Medical_History_18', 'Medical_History_19', 'Medical_History_20', 'Medical_History_21', 'Medical_History_22', 'Medical_History_23', 'Medical_History_24', 'Medical_History_25', 'Medical_History_26', 'Medical_History_27', 'Medical_History_28', 'Medical_History_29', 'Medical_History_30', 'Medical_History_31', 'Medical_History_32', 'Medical_History_33', 'Medical_History_34', 'Medical_History_35', 'Medical_History_36', 'Medical_History_37', 'Medical_History_38', 'Medical_History_39', 'Medical_History_40', 'Medical_History_41', 'Medical_Keyword_1', 'Medical_Keyword_2', 'Medical_Keyword_3', 'Medical_Keyword_4', 'Medical_Keyword_5', 'Medical_Keyword_6', 'Medical_Keyword_7', 'Medical_Keyword_8', 'Medical_Keyword_9', 'Medical_Keyword_10', 'Medical_Keyword_11', 'Medical_Keyword_12', 'Medical_Keyword_13', 'Medical_Keyword_14', 'Medical_Keyword_15', 'Medical_Keyword_16', 'Medical_Keyword_17', 'Medical_Keyword_18', 'Medical_Keyword_19', 'Medical_Keyword_20', 'Medical_Keyword_21', 'Medical_Keyword_22', 'Medical_Keyword_23', 'Medical_Keyword_24', 'Medical_Keyword_25', 'Medical_Keyword_26', 'Medical_Keyword_27', 'Medical_Keyword_28', 'Medical_Keyword_29', 'Medical_Keyword_30', 'Medical_Keyword_31', 'Medical_Keyword_32', 'Medical_Keyword_33', 'Medical_Keyword_34', 'Medical_Keyword_35', 'Medical_Keyword_36', 'Medical_Keyword_37', 'Medical_Keyword_38', 'Medical_Keyword_39', 'Medical_Keyword_40', 'Medical_Keyword_41', 'Medical_Keyword_42', 'Medical_Keyword_43', 'Medical_Keyword_44', 'Medical_Keyword_45', 'Medical_Keyword_46', 'Medical_Keyword_47', 'Medical_Keyword_48', 'Response']

feature kategorik antara lain :  ['Product_Info_2']

In [ ]:
responsex = df[['Response']]
responsex.describe()

# Data Preparation

In [ ]:

missing_data = df.isnull()
missing_data.head(10)

In [ ]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
df= pd.read_csv(path,nrows=10)
print(df)

In [ ]:
headers = ["Product_Info_1","Ins_Age","BMI"]
df = pd.read_csv(path, names = headers)

In [ ]:
kolum = ["Product_Info_1","Ins_Age","BMI"]
df= pd.read_csv(path, usecols=kolum)
print(df)

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.replace("?", np.nan, inplace = True)
df.head(5)

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

In [ ]:
kolum2 = ["employment_info_1","employment_info_4","employment_info_6"]
df2= pd.read_csv(path, usecols=kolum)
print(df2)

In [ ]:
df2.replace("?", np.nan, inplace = True)
df2.head(5)

In [ ]:
missing_data2 = df2.isnull()
missing_data2.head(5)

In [ ]:
df2.describe()

In [ ]:
df.dropna(subset=["Product_Info_1"], axis=0, inplace= True)

In [ ]:
avg_norm_loss = df["Product_Info_1"].astype("float").mean(axis=0)
print("Average of Product_Info_1:", avg_norm_loss)

In [ ]:
df["Product_Info_1"].replace(np.nan, avg_norm_loss, inplace=True)

In [ ]:
df["Product_Info_1"].tail()

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["Product_Info_1"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df["Product_Info_1"] = df["Product_Info_1"].astype("int")

# Normalisasi

In [ ]:
df["Product_Info_1"] = (df["Product_Info_1"]-df["Product_Info_1"].min())/(df["Product_Info_1"].max()-df["Product_Info_1"].min())

In [ ]:
df["Product_Info_1"] = (df["Product_Info_1"].mean())/df["Product_Info_1"].std()

In [ ]:
df

# Data Visualisation

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["Ins_Age"])

# set x/y labels and plot title
plt.pyplot.xlabel("Ins_Age")
plt.pyplot.ylabel("count")
plt.pyplot.title("Ins_Age bins")

In [ ]:
bins = np.linspace(min(df["Ins_Age"]), max(df["Ins_Age"]), 4)
bins

In [ ]:
group_names = ['Low', 'Medium', 'High']

In [ ]:
df['Ins_Age-binned'] = pd.cut(df['Ins_Age'], bins, labels=group_names, include_lowest=True )
df[['Ins_Age','Ins_Age-binned']].head(20)

In [ ]:
df["Ins_Age"].value_counts()

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
pyplot.bar(group_names, df["Ins_Age-binned"].value_counts())

# set x/y labels and plot title
plt.pyplot.xlabel("Ins_Age")
plt.pyplot.ylabel("count")
plt.pyplot.title("Ins_Age bins")

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot

a = (0,1,2)

# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["Ins_Age"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("Ins_Age")
plt.pyplot.ylabel("count")
plt.pyplot.title("Ins_Age bins")

In [ ]:
df.columns

In [ ]:
df.isnull().sum()